{% extends 'base.html' %}
{% load static %}

{% block 'title' %}Inicio{% endblock%}

{% block 'body' %}
{% include 'navbar.html' %}
<section class="conteudo-principal">
    <div class="div-title">
        <h1 class="title">Cardápio</h1>
    </div>
    <section class="section-cardapio">
        {% regroup tipocomidas by composicao as composicao_list %}
        {% for comp in composicao_list %}
            <h2>{{ comp.list.0.get_composicao_display }}</h2>
            {% for tipo in comp.list %}
                <section class="section-por-tipo-comidas">
                    <h3 class="tipo-de-comida">{{ tipo.nome }}</h3>
                </section>
                {% if comidas %}
                    {% for comida in comidas %}
                        {% if comida.tipo.nome  == tipo.nome %}
                            <section class="section-nome_valor_comida">
                                <div class="div-nome-comida">
                                    <h4>{{ comida.nome }}</h4>
                                </div>
                                <div class="div-valor-comida">
                                    <p>{{ comida.valor }}$</p>
                                </div>
                            </section>
                            <section class="section-ingredientes-comida">
                                <p class="ingredientes-comida">{{ comida.ingredientes }}</p>
                            </section>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <p class="justificativa">Estamos trabalhando em nosso cardápio para melhor agrada-los! Volte mais tarde.</p>
                {% endif %}
                <hr>
            {% endfor %}
        {% endfor %}
    </section>
</section>
{% include 'footer.html' %}
{% endblock %}