/* Navbar */
.navbar-site,
.navbar-nav,
.nav-item,
.nav-link,
.nav-link:active,
.navbar-brand,
.navbar-toggler {
    background-color: #8B5E3C;
    color: #F5F3EB;
}

.navbar {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.conteudo-principal {
    background-color: #F5F3EB;
}